<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWQXkNkeSnmAMwdGbkxcf3FzwWS1HxXF4</string>
	<key>GCM_SENDER_ID</key>
	<string>340277784902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gitMobile</string>
	<key>PROJECT_ID</key>
	<string>git-mobile-vgts</string>
	<key>STORAGE_BUCKET</key>
	<string>git-mobile-vgts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340277784902:ios:e1b7f4e5af45a238df7547</string>
</dict>
</plist>